---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Samuel Amat - Full Stack Developer">
	<Nav />
    <div>
        sobre mi
    </div>
</Layout>