---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---
<Layout title="Samuel Amat - Full Stack Developer"></Layout>
    <Nav/>
    <div class="flex justify-center m-10">
        <embed class="m-10" src="./cv.pdf" width="600" height="790"
        type="application/pdf">
    </div>
</Layout>

