---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Footer from '../components/Footer.astro';
import Yo from "../assets/imagen.jpg"
import "../styles/global.css"
---

<Layout title="Samuel Amat - Full Stack Developer">
	<Nav />

	<main class="flex flex-col justify-center gap-1 mt-10 font-inter fadeIn fadeOut">
		<div class="flex flex-col items-center text-center">
			<img class="w-auto h-72 rounded-3xl" src={Yo.src} alt="imagen personal">

			<div class="text-3xl mt-5 uppercase font-bold flex flex-col gap-2 typewriter">
				<h1>Hola, soy</h1>
				<h1 class="text-verde border-b-2 pb-2">Samuel Amat</h1>
			</div>

			<div class=" md:w-1/2 m-10 text-lg md:text-xl">
				<p>¡Muy buenas! Soy Samuel, un desarrollador Fullstack ubicado en España con experiencia en la creación de aplicaciones web y de escritorio. 
            Me apasiona utilizar tecnologías como Java, C# y JavaScript para desarrollar soluciones robustas y eficientes. 
            Puedes echar un vistazo a mis proyectos para conocer el stack tecnológico que utilizo.
        </p>
			</div>

			<a class="special-button" href="/about">Conoce más sobre mí</a>
		</div>
	
		<Footer />
	</main>

</Layout>