---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Footer from '../components/Footer.astro';
import Yo from "../assets/imagen.jpg"
---

<Layout title="Samuel Amat - Full Stack Developer">
	<Nav />

	<main class="flex flex-col justify-center gap-1 mt-10 font-inter fadeIn fadeOut">
		<div class="flex flex-col items-center text-center">
			<img class="w-auto h-72 rounded-3xl" src={Yo.src} alt="imagen personal">

			<div class="text-3xl mt-5 uppercase font-bold flex flex-col gap-2 typewriter">
				<h1>Hola, soy</h1>
				<h1 class="text-verde border-b-2 pb-2">Samuel Amat</h1>
			</div>

			<div class=" md:w-1/2 m-10 text-lg md:text-xl">
				<p>¡Muy buenas! Soy Samuel, un desarrollador Fullstack ubicado en España con experiencia en la creación de aplicaciones web y de escritorio. 
            Me apasiona utilizar tecnologías como HTML5, CSS3, JavaScript, React, C#, y Java para desarrollar soluciones robustas y eficientes. 
            Puedes echar un vistazo a mis proyectos para conocer el stack tecnológico que utilizo.
        </p>
			</div>

			<button class=""><a href="/about">Conoce más sobre mí</a></button>
		</div>
	
		<Footer />
	</main>

</Layout>

<style>

button {
 border: 0.125em solid #1A1A1A;
 border-radius: 0.9375em;
 box-sizing: border-box;
 cursor: pointer;
 display: inline-block;
 font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size: 19px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

button:disabled {
 pointer-events: none;
}

button:hover {
 color: #fff;
 background-color: #1A1A1A;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

button:active {
 box-shadow: none;
 transform: translateY(0);
}

.typewriter h1:nth-child(2) {
  overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeInAnimation 1s ease-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>