---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Footer from '../components/Footer.astro';
import Light from "../assets/light-theme.png";
import Yo from "../assets/imagen.jpg"
---

<Layout title="Samuel Amat - Full Stack Developer">
	<Nav />

	<main class="flex flex-col justify-center gap-1 mt-10 font-inter fadeIn fadeOut">
		<div class="flex flex-col items-center text-center">
			<img class="w-auto h-72 rounded-3xl" src={Yo.src} alt="imagen personal">

			<div class="text-3xl mt-5 uppercase font-bold flex flex-col gap-2">
				<h1>Hola, soy</h1>
				<p class="text-verde border-b-2 pb-2">Samuel Amat</p>
			</div>

			<div class=" w-1/2 m-10 text-xl">
				<p>Soy un desarrollador fullstack con experiencia en la creación de aplicaciones web y de escritorio. Me apasiona utilizar tecnologías como HTML5, CSS3, JavaScript, React, C#, y Java para desarrollar soluciones robustas y eficientes.</p>
			</div>

			<button class="text-black font-bold text-xl bg-verde p-2 rounded hover:scale-110 transition-all ease-in-out"><a href="/about">Conoce más sobre mí</a></button>
		</div>
	
		<Footer />
	</main>

</Layout>

<style>


@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeInAnimation 1s ease-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>