---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Footer from '../components/Footer.astro';
import Light from "../assets/light-theme.png";

---

<Layout title="Samuel Amat - Full Stack Developer">
	<Nav />

	<main class="flex flex-col gap-1 mt-10 font-inter">
		<div class="flex flex-col items-center text-center h-screen">
			<img class="w-24 h-24" src={Light.src} alt="">

			<div class="text-3xl mt-5 uppercase font-bold flex flex-col gap-2">
				<h1 class="text-white">Hola, soy</h1>
				<p class="text-verde border-b-2 pb-2">Samuel Amat</p>
			</div>

			<div class="text-white w-1/2 m-10 text-xl">
				<p>Soy un desarrollador fullstack con experiencia en la creación de aplicaciones web y de escritorio. Me apasiona utilizar tecnologías como HTML5, CSS3, JavaScript, React, C#, y Java para desarrollar soluciones robustas y eficientes.</p>
			</div>

			<button class="text-black font-bold text-xl bg-verde p-2 rounded hover:scale-110 transition-all ease-in-out">Conoce más sobre mí</button>
		</div>
	
		<Footer />
	</main>

</Layout>
