---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Proyecto from "../components/Proyecto.astro";
---

<Layout title="Samuel Amat - Full Stack Developer">
	<Nav />
    <div>
        <Proyecto/>
        
    </div>
</Layout>