---
import '@fontsource-variable/inter';
import Dark from "../../src/assets/dark-theme.png"
import Light from "../../src/assets/light-theme.png"
---

<div class="p-3 m-2 text-center flex items-center font-inter justify-center gap-20 text-white">
    <h1 class="text-5xl p-2 font-bold text-verde">Samuel</h1>
    
    <div class="flex gap-7 items-center text-xl">
        <a class="p-2 rounded transition duration-300 ease-in-out hover:bg-sky-800" href="/">Inicio</a>
        <a class="p-2 rounded transition duration-300 ease-in-out hover:bg-sky-800" href="/about">Sobre mí</a>
        <a class="p-2 rounded transition duration-300 ease-in-out hover:bg-sky-800" href="/proyects">Proyectos</a>
        <a class="p-2 rounded transition duration-300 ease-in-out hover:bg-sky-800" href="/resume">CV</a>
        <img class="h-10 w-10" src={Dark.src} alt="">
    </div>
    
    
</div>